<div class="game-table">
  <app-scoreboard
    [turn]="turn"
    [playerPoints]="playerPoints"
    [computerPoints]="computerPoints"
  ></app-scoreboard>

  <app-deck
    [player]="'computer'"
    [deck]="computerDeck"
    [choosenCardID]="computerCardId"
  ></app-deck>
  <button
    class="btn"
    (click)="playCard()"
    [disabled]="(!playerChoice && !computerChoice) || lockSelectedCards"
  >
    Play a Card!
  </button>
  <app-deck
    [player]="'player'"
    [deck]="playerDeck"
    [choosenCardID]="choosenPlayerCardId"
    (cardClicked)="onPlayerChoice($event)"
  ></app-deck>
</div>

<app-end-screen *ngIf="isGameOver" [result]='result' (restartGame)="resetGame()"></app-end-screen>
