.computer-card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: var(--card-size);
    width: 147.05px;


    border-radius: 10px;


    &__side {
        height: var(--card-size);
        transition: all 0.8s ease;
        border-radius: 10px;
        overflow: hidden;


        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;

        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
        overflow: hidden;

        &--front {
            width: 100%;
        }

        &--back {
            transform: rotateY(-180deg);
        }
    }

    &__image {
        height: 100%;
        width: 100%;
    }

    &.selected &__side--front {
        transform: rotateY(180deg);
    }

    &.selected &__side--back {
        transform: rotateY(0);
    }
}