:host {
    flex: 0 1 20%;
    align-self: center;
}

.card {
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0 0 3rem rgba(#000000, 0.5);

    &.selected {
        transform: scale(1.05) rotateZ(5deg);
        box-shadow: 0 0 2rem rgba(#8d8c8c, 0.8);
    }

    &__image {
        width: 100%;
    }
}