.card {
    height: var(--card-size);
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0 0 3rem rgba(#000000, 0.5);

    &.selected {
        transform: scale(1.1) rotateZ(5deg);
        box-shadow: 0 0 4rem rgba(#000000, 0.8);
    }

    &__image {
        height: 100%;
    }
}