@import '../../../sass/abstract/mixins';

.scoreboard {
    font-size: 2rem;
    text-align: center;

    @include flexCenter;
    flex-direction: column;
    gap: 2rem;

    &__turn {
        font-size: 2rem;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: var(--font-color-light);
        color: var(--color-dark-1);

        @include flexCenter;
    }

    &__points {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 3px solid var(--font-color-light);
        display: inline-flex;
        align-items: center;
        justify-content: center;


        &:not(:last-of-type) {
            margin-right: 1rem;
        }
    }
}